@page
@model WebApplication1.Pages.product.Kusuri
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/shopkoi.css"  />
    <link rel="stylesheet" href="~/css/product.css"  />
    <script src="https://kit.fontawesome.com/75bac81b76.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="~/img/logo.png" type="image/png">
    <title>Kusuri</title>

</head>
<body>
    <div class="body2">
    <div class="navbar">
     <!--Navigation-->
        <ul class="nav-list ">

            <li class="nav-item" >  
                 <a href="/homepage" style="font-size: 20px;" class="hover"> Trang chủ</a>  
            </li> 
            <li class="nav-item" >  
                 <a href="/Index" style="font-size: 20px;" class="hover">Shop</a>  
            </li> 
            <li class="nav-item" >  
                 <a href="#" style="font-size: 20px;" class="hover">Giới thiệu</a>  
            </li> 
            <li class="nav-item" >  
                 <a href="#" style="font-size: 20px;" class="hover">Liên hệ</a>  
            </li>     
            </ul>
        <div class="nav-list" >
            <img src="~/img/logo.png" class="logo" style="width:15%; margin-left: 70px;">
        </div>
         <div class="nav-list" id="margin-right">
            <li class="nav-item" >
                 <a href="#">  
                      <i class="fa-regular fa-user" style="font-size: 25px;"></i>
                 </a>  
            </li> 
            <li class="nav-item" >  
                 <a href="#" style="">
                    <i class="fa-solid fa-cart-shopping" style="font-size: 23px;"></i>
                    </a>  
            </li> 
        </div>
    </div>  



<div class="container-product">
    <div class="product">
        <div class="pic">
            <img src="~/img/koiproduct1.png" style="width:70%" />
        </div>
        <div class="inf">
            <p class="title">Kusuri Wheatgerm</p>
            <div class="price">30.000 đ</div>
            
            <div class="buy">
            <div class="number-input">
                    <div class="button" onclick="decrement()">-</div>
                     <input type="text" id="number" value="1">
                    <div class="button" onclick="increment()">+</div>
            </div>
            <div class="buy-button">
                <button>THÊM VÀO GIỎ HÀNG</button>
            </div>
            </div>
            <hr>
            <p>Mô tả: KUSURI Wheatgerm với Kōso X để chuyển đổi chất dinh dưỡng cao <br>và nhiều lợi ích bổ sung cho sức khỏe,
                 sự tăng trưởng và hiệu suất môi<br> trường tối ưu của Koi trong những tháng mùa xuân/thu.</p>
            <hr>
            <div class="inline">
            <p>Số lượng:</p>
            <p id="font">2037</p>
            </div>
            <p>Danh mục: <a href="/menu/Koiproducts" class="small-link">Koi's Product</a></p>
        </div>
    </div>
</div>


<script src="~/js/button.js"></script>
<script src="~/js/index.js"></script>
</div>
</body>
</html>