@page
@model WebApplication1.Pages.product.Medikoi
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/shopkoi.css"  />
    <link rel="stylesheet" href="~/css/product.css"  />
    <script src="https://kit.fontawesome.com/75bac81b76.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="~/img/logo.png" type="image/png">
    <title>Medikoi</title>

</head>
<body>
    <div class="body2">
     @await Html.PartialAsync("_Navbar")



<div class="container-product">
    <div class="product">
        <div class="pic">
            <img src="~/img/koiproduct.png" style="width:55%" />
        </div>
        <div class="inf">
            <p class="title">Medikoi Probiotic</p>
            <div class="price">15,000 đ</div>
            
            <div class="buy">
            <div class="number-input">
                    <div class="button" onclick="decrement(this)">-</div>
                     <input type="text" class="number" value="1">
                    <div class="button" onclick="increment(this)">+</div>
            </div>
            <a href="#" class="buy-button">
                <button>THÊM VÀO GIỎ HÀNG</button>
            </a>
            </div>
            <hr>
            <p>Mô tả: Được bổ sung axit béo omega và các chất tăng cường màu sắc tự nhiên,
             giúp cá koi duy trì màu sắc sáng bóng và rực rỡ.</p>
            <hr>
            <div class="inline">
            <p>Số lượng:</p>
            <p id="font">3056</p>
            </div>
            <p>Danh mục: <a href="/shop/menu/Koiproducts" class="small-link">Koi's Product</a></p>
        </div>
    </div>
</div>

     <footer>
        <hr id="footer">
        <div id="footer-container">
            <div id="content-footer">
                <p><b>KoiControl-Shop <i class="fa-regular fa-copyright"></i></b> 2024</p>
            </div>
            <div id="img-footer">
                 <img src="~/img/payments.png" />
            </div>
        </div>
    </footer>
<script src="~/js/button.js"></script>
<script src="~/js/index.js"></script>
    </div>
</body>
</html>