a {
    text-decoration: none; /*xoa gach chan */
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    height: 70px;
    padding: 0px;
    top: 0;
    right: 0;
    left: 0;
}

.nav-list {
    list-style: none; /* xoa dau . */
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: white;
}

.nav-content {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .nav-content:hover {
        border: 1px solid black;
        background: linear-gradient(135deg, #2575fc, #6a11cb);
    }

.nav-item {
    margin: 0px 14px;
}

.nav-item-name {
    color: #ffeb3b;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 10px;
}

.nav-item a {
    font-family: 'Verdana', sans-serif;
    color: black;
    font-size: 15px;
}

    .nav-item a:hover {
        color: rgb(122, 115, 115);
        transition: 0.4s ease;
    }

.hover {
    position: relative;
}

    .hover::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px; /* khoang cach tu chu den gach chan */
        width: 0;
        height: 2px; /* do day gach chan */
        background-color: #00bcd4;
        transition: 0.4s ease, left 0.4s ease;
    }

    .hover:hover::after {
        width: 100%;
        left: 0;
    }



.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .dropdown-menu.show {
        display: block;
        position: absolute;
        right: 7%;
        top: 100%;
        background-color: white;
        box-shadow: 0 5px 15px rgba(0,0,0,.1);
        z-index: 999999;
        width: 150px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid black;
        overflow: hidden;
        opacity: 1;
        transform: translateY(0);
    }

    .dropdown-menu a {
        font-size: 16px;
        display: block;
        padding: 10px;
        color: black;
        background-color: white;
        text-decoration: none;
    }

        .dropdown-menu a:hover {
            background-color: orange;
            color: white;
        }
