<<<<<<< HEAD
﻿
=======

>>>>>>> 8929588cc632292200e3aa1ca3f853e56acb2a98
body {
    margin: 0;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    
    align-items: center;

}  
.background {
    
    position: fixed; /* Đặt vị trí hình nền cố định */
    width: 100%;
    height: 100%;
    background-image: url('/img/background.jpg'); 
    background-size: cover; /* Giữ nguyên tỷ lệ hình ảnh */
    background-position: center; 
    z-index: -1; /* Đặt hình nền phía sau các nội dung khác */
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Đổ bóng cho thanh nav */
    z-index: 1000; /* Đảm bảo thanh nav nằm trên các nội dung khác */
}  
.nav-list {
    list-style: none; /* xóa dấu . do web tự tạo */
    padding: 0px;
    margin: 10px; 
    display: flex; 
    align-items: center;
    background-color:white ;         
    flex-direction:row-reverse;
}

.nav-item {
    
    margin: 5px 14px; /* Khoảng cách giữa các mục */
}

 .nav-item a {  
     font-family: 'Verdana', sans-serif;
     color: black;
     text-decoration: none;   /*xóa gạch chân do web tự tạo */
     font-size: 15px;
    }

 .nav-item a:hover {
    color:#bd5252;             
}

.container {    
    padding: 280px 400px 80px;
    display: grid;  
    grid-template-columns: repeat(3, 200px);  /* chia các khung thành 3 khung mỗi hàng*/
    gap: 20px; 
    position: relative; /* Để nó nằm trên hình nền */
    z-index: 1; /* Đảm bảo nội dung nằm phía trên hình nền */

}
.container-mykoi {
    background-color: white; /* Màu nền bảng */
    padding: 20px 30px 300px; /* Padding theo yêu cầu */
    margin-top: 200px ;
    z-index: 10;
    border-radius:20px;
    width:80%
}
=======
    align-items: center;
}

.background {
    position: fixed; /* ??t v? tr� h�nh n?n c? ??nh */
    width: 100%;
    height: 100%;
    background-image: url('/img/background.jpg');
    background-size: cover; /* Gi? nguy�n t? l? h�nh ?nh */
    background-position: center;
    z-index: -1; /* ??t h�nh n?n ph�a sau c�c n?i dung kh�c */
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* ?? b�ng cho thanh nav */
    z-index: 1000; /* ??m b?o thanh nav n?m tr�n c�c n?i dung kh�c */
}

.nav-list {
    list-style: none; /* x�a d?u . do web t? t?o */
    padding: 0px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: row-reverse;
}

.nav-item {
    margin: 5px 14px; /* Kho?ng c�ch gi?a c�c m?c */
}

    .nav-item a {
        font-family: 'Verdana', sans-serif;
        color: black;
        text-decoration: none; /*x�a g?ch ch�n do web t? t?o */
        font-size: 15px;
    }

        .nav-item a:hover {
            color: #bd5252;
        }

.container {
    padding: 280px 400px 80px;
    display: grid;
    grid-template-columns: repeat(3, 200px); /* chia c�c khung th�nh 3 khung m?i h�ng*/
    gap: 20px;
    position: relative; /* ?? n� n?m tr�n h�nh n?n */
    z-index: 1; /* ??m b?o n?i dung n?m ph�a tr�n h�nh n?n */
}

.container-mykoi {
    background-color: white; /* M�u n?n b?ng */
    padding: 20px 30px 300px; /* Padding theo y�u c?u */
    margin-top: 200px;
    z-index: 10;
    border-radius: 20px;
    width: 80%
}

>>>>>>> 8929588cc632292200e3aa1ca3f853e56acb2a98
.title-mykoi {
    color: black;
    font-size: 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 50px;
    text-decoration: underline;
}
<<<<<<< HEAD
.grid {
    display: grid;
    grid-template-columns: 150px 500px; /* Chia container thành 2 cột: cột đầu tự động, cột thứ hai chiếm phần còn lại */
    justify-content: flex-start;
    align-content:flex-start;
}
=======

.grid {
    display: grid;
    grid-template-columns: 150px 500px; /* Chia container th�nh 2 c?t: c?t ??u t? ??ng, c?t th? hai chi?m ph?n c�n l?i */
    justify-content: flex-start;
    align-content: flex-start;
}

>>>>>>> 8929588cc632292200e3aa1ca3f853e56acb2a98
.item-mykoi {
    margin: -5px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: powderblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
<<<<<<< HEAD
.item-mykoi a.no-underline {
    text-decoration: none;
}
.item {
    margin:-5px -5px;
    padding: 5px ;
=======

    .item-mykoi a.no-underline {
        text-decoration: none;
    }

.item {
    margin: -5px -5px;
    padding: 5px;
>>>>>>> 8929588cc632292200e3aa1ca3f853e56acb2a98
    padding-top: 30px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: rgb(202, 158, 165);
}
<<<<<<< HEAD
.item:hover {
    transform: scale(1.1);
    transition:0.5s ease;
    background-color: #d88268;
}
.item a{
    text-decoration: underline;
    
}
.item a.no-underline{
    text-decoration: none;
}
.item p{
    font-size: 24px;
    color: white;
}

.item p:hover{
    color: blue;
}
=======

    .item:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
        background-color: #d88268;
    }

    .item a {
        text-decoration: underline;
    }

        .item a.no-underline {
            text-decoration: none;
        }

    .item p {
        font-size: 24px;
        color: white;
    }

        .item p:hover {
            color: blue;
        }
>>>>>>> 8929588cc632292200e3aa1ca3f853e56acb2a98
