@page
@model WebApplication1.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <title>Trang chủ</title>
</head>
<body>
    <div class="background"></div>

    <!-- Navbar -->
    @await Html.PartialAsync("_Navbar")

    <!-- Container -->
    <div class="container">
        @foreach (var item in new[] {
            new { Link = "/Mykoi", Img = Url.Content("~/img/dashboard.png"), Text = "Dash board" },
            new { Link = "/Mykoi", Img = Url.Content("~/img/heart.png"), Text = "My Koi" },
            new { Link = "/MyPond", Img = Url.Content("~/img/pond.png"), Text = "My Pond" },
            new { Link = "#", Img = Url.Content("~/img/feed.png"), Text = "Tính lượng thức ăn" },
            new { Link = "#", Img = Url.Content("~/img/salt.png"), Text = "Tính lượng muối" },
            new { Link = "#", Img = Url.Content("~/img/blog.png"), Text = "Blog" },
            new { Link = "#", Img = Url.Content("~/img/shop.png"), Text = "Shop" },
            new { Link = "#", Img = Url.Content("~/img/report.png"), Text = "Báo cáo" }
        })
        {
            <div class="item">
                <a href="@item.Link" class="no-underline">
                    <center>
                        <img src="@item.Img" alt="@item.Text" />
                        <p>@item.Text</p>
                    </center>
                </a>
            </div>
        }
    </div>
</body>
</html>
   