@page
@model WebApplication1.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css"  />
    <title>Trang chủ</title>

</head>
<body>
    <div class="background"></div>

    <header class="navbar">
     <!--Navigation-->
        <ul class="nav-list ">

            <li class="nav-item" >  
                 <a href="#">  
                      <img src="~/img/user.png" width=40px height=40px  />  
                 </a>  
            </li> 
            <li class="nav-item" >  
                 <a href="#" style="font-size: 20px;">Nguyễn Văn B</a>  
            </li>  
    </ul>
 </header>  
    <!--Container-->   
    <div class="container">
           
        <div class="item">
            <a href="/Mykoi" class="no-underline"> 
           <center>
           <img src="~/img/dashboard.png" width=100px height=100px  />
           <p>Dash board</p>
           </center>
            </a>
        </div> 
       
        
        <div class="item">
            <a href="#" class="no-underline">  
            <center>
            <img src="~/img/heart.png" width=100px height=100px  />
            <p>Cá của tôi</p>
            </center>
            </a>
        </div>
        
        <div class="item">
             <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/pond.png" width=100px height=100px  />
            <p>Hồ</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/feed.png" width=100px height=100px  />
            <p>Tính lượng thức ăn</p>
            </center>
            </a>
        </div>
        <div class="item" >
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/salt.png" width=100px height=100px  />
            <p>Tính lượng muối</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline" > 
            <center>
            <img src="~/img/blog.png" width=100px height=100px  />
            <p>Blog</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/shop.png" width=100px height=100px  />
            <p>Shop</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/report.png" width=100px height=100px  />
            <p>Báo cáo</p>
            </center>
            </a>
        </div>
        <div class="item">
            <p></p>
        </div>
    </div>

 <script src="~/js/index.js"></script>
</body>
</html>
