@page
@model WebApplication1.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>Trang chủ</title>

</head>
<body>
    <div class="background"></div>

    <header class="navbar">
     <!--Navigation-->

        <div class="header-1">
            <ul>
                <li>
                    <a href="">Trang Chủ</a>
                </li>
                <li>
                    <a href="">My Koi</a>
                </li>
                <li>
                    <a href=""> My Pond</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href="">Shop</a>
                </li
            </ul>
            <img src="/img/logo.jpg" alt="logo">
            
            <a href="#" class="logo-user">
                <i class="fa-solid fa-user" id="fa-user"></i>
                Nguyễn Văn A
            </a>
            

            <a href="#" class="logo-shopping">
                <i class="fa-solid fa-cart-shopping"></i>
                Giỏ Hàng
            </a>
        </div>
        
        
 </header>  
    <!--Container-->   
    <div class="container">
           
        <div class="item">
            <a href="/Mykoi" class="no-underline"> 
           <center>
           <img src="~/img/dashboard.png" width=100px height=100px  />
           <p>Dash board</p>
           </center>
            </a>
        </div> 
       
        
        <div class="item">

            <a href="/Mykoi" class="no-underline">  
            <center>
            <img src="~/img/heart.png" width=100px height=100px  />
            <p>My Koi</p>
            </center>
            </a>
        </div>
        
        <div class="item">

             <a href="/MyPond"  class="no-underline"> 
            <center>
            <img src="~/img/pond.png" width=100px height=100px  />
            <p>My Pond</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/feed.png" width=100px height=100px  />
            <p>Tính lượng thức ăn</p>
            </center>
            </a>
        </div>
        <div class="item" >
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/salt.png" width=100px height=100px  />
            <p>Tính lượng muối</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="/Blog"  class="no-underline" > 
            <center>
            <img src="~/img/blog.png" width=100px height=100px  />
            <p>Blog</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/shop.png" width=100px height=100px  />
            <p>Shop</p>
            </center>
            </a>
        </div>
        <div class="item">
            <a href="#"  class="no-underline"> 
            <center>
            <img src="~/img/report.png" width=100px height=100px  />
            <p>Báo cáo</p>
            </center>
            </a>
        </div>
        <div class="item">
            <p></p>
        </div>
    </div>

 <script src="~/js/index.js"></script>
</body>
</html>