@page
@model WebApplication1.Pages.MykoiModel
@{
    ViewData["Title"] = "My Koi";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/MyKoi_MyPond.css" />
</head>
<body>
    <div class="background"></div>

    @await Html.PartialAsync("_Navbar")

    <div class="container-mykoi">
        <h2 class="title-mykoi">My Koi</h2>
        <button class="add-button" onclick="showForm()">+</button>

        <div id="add-koi-form" class="form-container">
            <div class="form-header">
                <h2 class="form-title">Add one Koi:</h2>
                <button class="close-button" onclick="hideForm()">X</button>
            </div>

			<form action="/" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-content">
					<label for="koiImage">Add Image:</label>
					<input type="file" id="koiImage" name = "Img" accept="image/*" required>

					<label for="name">Name:</label>
                    <input type="text" id="name" name="Name" placeholder="Enter name" required>

					<label for="age">Age:</label>
                    <input type="text" id="age" name="Age" placeholder="Enter age" required>

					<label for="size">Size (cm):</label>
                    <input type="number" id="size" name="Size" placeholder="Enter size" required>

					<label for="weight">Weight (g):</label>
                    <input type="number" id="weight" name="Weight" placeholder="Enter weight" required>

                    <label for="body">Body Shape:</label>
                    <input type="text" id="body" name="Body" placeholder="Enter body shape">

					<label for="sex">Sex:</label>
					<div class="content-sex">
                        <input type="radio" id="male" name="Sex" value="Male" checked>
                        <label for="male">Đực</label>
                        <input type="radio" id="female" name="Sex" value="Female">
                        <label for="female">Cái</label>
                    </div>

					<label for="pond">Pond:</label>
					<input type="text" id="pond" name="Pond" placeholder="Main pond" required>

					<label for="breed">Breed:</label>
					<input type="text" id="breeder" name ="Breed" placeholder="Enter breeder">
                    
					<label for="origin">Origin:</label>
					<input type="text" id="origin" name ="Origin" placeholder="Enter Origin">

                    <label for="price">Price:</label>
                    <input type="number" id="price" name="Price" placeholder="Enter breeder">

					<button class="submit-button" type="submit">Submit</button>
				</div>
			</form>

        </div>

        <div class="koi-list" id="koi-list"></div>
    </div>

    <!--JS-->
    <script src="~/js/MyKoi.js"></script>
</body>
</html>
