@page
@model WebApplication1.Pages.MyPond
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/MyKoi_MyPond.css">
    <title>My Pond</title>
</head>
<body>
    <div class="background"></div>

    @await Html.PartialAsync("_Navbar")

    <div class="container-mypond">
        <h2 class="title-mypond">My Pond</h2>
        <button style="background-color: orange; width: 50px; height: 50px;" onclick="showForm()">+</button>

        <div id="add-pond-form">
            <div class="form-header">
                <h2 style="border-bottom: 1px solid black;">Add one Pond Koi:</h2>
                <button onclick="hideForm()">X</button>
            </div>

            <div class="pond-inform" style="border: 1px dashed black; color: black;">
                <label for="PondImage">Add Image:</label>
                <input type="file" id="PondImage" accept="image/*">

                <label for="name">- Name Pond:</label>
                <input type="text" id="name" placeholder="Enter Name Pond">

                <label for="number">- Number of Fish:</label>
                <input type="text" id="number" placeholder="Enter Number">

                <label for="volume">- Volume:</label>
                <input type="text" id="volume" placeholder="Enter Volume">

                <label for="depth">- Depth:</label>
                <input type="text" id="depth" placeholder="Enter Depth">

                <label for="pumping">- Pumping capacity:</label>
                <input type="text" id="pumping" placeholder="Enter Pumping capacity">

                <label for="drains">- Drains:</label>
                <input type="text" id="drains" placeholder="Main Drains">

                <label for="skimmers">- Skimmers:</label>
                <input type="text" id="skimmers" placeholder="Enter Skimmers">

                <button style="margin-left: 200px; margin-top: 15px; margin-bottom: 10px;" type="button" onclick="submitPond()">Submit</button>
            </div>
        </div>

        <div class="pond-list" id="pond-list">

        </div>
    </div>

    <!--JS-->
   <script src="~/js/MyPond.js"></script>

</body>
</html>
